{% extends 'base.html' %}

{% block content %}

<form action="{{url_for('.display')}}" method="get" class="mt-4 p-4 border rounded shadow-sm bg-light">
    <div class="mb-3">
        <label for="idInput" class="form-label">Enter Display ID</label>
        <input type="text" class="form-control" id="idInput" name="id" placeholder="Enter your ID" required>
    </div>
    <div class="mb-3">
        <label for="vonInput" class="form-label">Von</label>
        <input type="text" class="form-control" id="vonInput" name="von" placeholder="Von">
    </div>
    <div class="mb-3">
        <label for="nachInput" class="form-label">Nach</label>
        <input type="text" class="form-control" id="nachInput" name="nach" placeholder="Nach">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}